 <!DOCTYPE html>
  <html>
  <head>
    <title>WhatMunch App</title>
    <style type="text/css">@import url('stylesheets/main.css')</style>
  </head>

  <body>
    <div class='main-container'>

      <section id='header-container'>
        <h1 class='title'>WhatMunch</h1>
      </section>

      <section id="form-group">
        <h3>Enter Food item, then cost:</h3>
        <form action='/' method='post'>
        <fieldset id="data-entry">
          <input name='thismunch[what]' type="text"  placeholder="Food item" id
          ="item-input" required>

          <input name='thismunch[cost]'  type='number' id="out-of-range-input" step=0.01 min=0 max=<%= $budget %> required placeholder="£">
          <span class="help-text"></span>
        </fieldset>
          <input type='submit' id="addButton" value="Add Munch">
        </form>
      </section>

      <section id="results-table">
          <h2>Running Total is: £<%= $running_total %></h2>
          <h3>Budget is: £ <input type="number" name="budget" value="<%= $budget %>" disabled></h3>

        <table>
          <%= $munch.join('') %>
        </table>
      </section>

    </div>
  </body>
  </html>